extends layout

block title
    | Upload Alot :D

block content
    form(method='POST', action='/uploadAlot', enctype='multipart/form-data')
        input(type='file', name='images', multiple) 
        button(type='submit') Upload
