extends layout

block title
    | User

block content
    h1= user.email
    form(action='/follow', method='POST')
        input(type='hidden', name='id', value='#{user._id}')
        button(type='submit') Follow
